<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>LBFEarth Email</title>
  </head>
  <body>
    <p>hello this is LBFEarth Email 1123123123123</p>
  </body>
</html>
