<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NestJs</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h3 style="color:#fdfdfc;"><%=msg%></h3>
    <p>
      swagger API：<a href="/swagger" target="_blank">swagger API</a> <br />
      graphql API：<a href="/graphql" target="_blank">graphql API</a>
    </p>
  </body>
</html>
